<div class="about-container">
    <h2>About the Angular Course</h2>

    <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perferendis, corporis eum earum error expedita veniam nobis. Libero possimus officiis ducimus, qui, obcaecati inventore, excepturi vel sed molestiae natus non velit.
    </p>

    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. At quia libero autem cumque illo modi in recusandae hic commodi. Soluta ex nulla iusto hic quisquam, vero culpa obcaecati excepturi repudiandae.
    </p>

    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum quia culpa sit quasi, ratione nostrum tempora aliquam odit blanditiis quos hic itaque cumque corrupti provident error assumenda mollitia atque pariatur?
    </p>

</div>>